.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.row {
  display: flex;
}

.square {
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light {
  background-image: url("../../light.svg");
}

.dark {
  background-image: url("../../dark.svg");
}

img {
  width: 3rem;
  height: 3rem;
  position: absolute;
}
.ck {
  width: 2.75rem;
  height: 2.75rem;
  position: absolute;
  background-color: #87ceeb;
}
